/* The alert message box */
.alert {
  position: absolute;
  width: 100%;
  background-color: #f44336;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Red */
  color: white;
  margin-bottom: 15px;
  z-index: 1000;
  text-align: center;
  opacity: 1;
  animation: fadeOut 1s forwards;
  animation-delay: 2s;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}