<!-- Container with black border -->
<div class="container">
    <div class="register-form">
        <h2 class="form-title">Edit Kitten</h2>

        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="submitHandler()">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" placeholder="Enter cats name">
                        <mat-error *ngIf="form.get('name')?.errors?.['required']">
                            Cat name is required</mat-error>
                        <mat-error *ngIf="form.get('name')?.errors?.['minlength']">
                            Cat name should be longer than
                            {{form.get('name')?.errors?.['minlength']?.['requiredLength']}}
                            characters</mat-error>
                        <mat-error *ngIf="form.get('name')?.errors?.['maxlength']">
                            Cat name should be shorter than
                            {{form.get('name')?.errors?.['maxlength']?.['requiredLength']}}
                            characters</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Choose Breed</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Choose Breed" matInput
                            [formControl]="form.controls.breed" [matAutocomplete]="auto" formControlName="breed">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="form.get('breed')?.errors?.['required']"> Cat breed required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Age</mat-label>
                        <input matInput formControlName="age" type="number" placeholder="Enter cats age">
                        <mat-error *ngIf="form.get('age')?.errors?.['required']">
                            Cat name is required</mat-error>
                        <mat-error *ngIf="form.get('age')?.errors?.['min']">
                            Cats age can't be negative number</mat-error>
                        <mat-error *ngIf="form.get('age')?.errors?.['max']">
                            Cats age must be below 100
                        </mat-error>
                        <!-- <mat-hint *ngIf="form.get('age')?.errors?.['oldestCat'] && form.get('age')?.touched">
                            Submit This Cat to The Guinness Book of World Records!</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Image</mat-label>
                        <input matInput formControlName="image" placeholder="Enter image link">
                        <mat-error *ngIf="form.get('image')?.errors?.['required']"> Image is required" </mat-error>
                        <mat-error *ngIf="form.get('image')?.errors?.['pattern']"> Image should be a valid link
                            "http://" or "https://" </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea touched matInput formControlName="description"
                            placeholder="Describe your kitten"></textarea>
                        <mat-error *ngIf="form.get('description')?.errors?.['required']">Description is
                            required</mat-error>
                        <mat-error *ngIf="form.get('description')?.errors?.['minlength']">Description is too
                            short</mat-error>
                        <mat-error *ngIf="form.get('description')?.errors?.['maxlength']">Description is too
                            long</mat-error>
                    </mat-form-field>



                    <button class="submit-button" mat-raised-button color="primary" type="submit">Edit Kitten</button>
                    <button class="submit-button" mat-raised-button color="primary" type="submit"
                        routerLink="/cats/catalog/{{cat?._id}}">Cancel</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>