<div class="navbar-wrapper">
    <mat-toolbar color="primary">

        <div class="logo">
            <a routerLink="/">

                <img src="/assets/cat.png" alt="Logo" class="logo">
            </a>
        </div>


        <div class="center-buttons">
            <button class="nav-button" mat-button routerLink="/">Home
                <mat-icon class="custom-color">home</mat-icon>
            </button>

            <ng-container *ngIf="!user">
                <button class="nav-button" mat-button routerLink="/user/login">Login</button>
                <button class="nav-button" mat-button routerLink="/user/register">Register</button>
            </ng-container>


            <button class="nav-button" mat-button routerLink="/cats/catalog">Cats List</button>



            <button *ngIf="user" class="nav-button" mat-button routerLink="/cats/add">Add Kitten</button>
            <button class="nav-button" mat-button routerLink="/cats/search">
                Search <mat-icon class="custom-color">search</mat-icon> </button>
        </div>


        <button mat-mini-fab color="primary" [matMenuTriggerFor]="profileMenu" class="profile-fab">
            <mat-icon color="primary">person</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
            <ng-container *ngIf="user">
                <button routerLink="/user/profile" mat-menu-item> {{user.username.length > 10 ?
                    (user.username | titlecase | slice : 0 :10) + '... profile!' : (user.username | titlecase) + '\'s profile!'
                    }}</button>
                <button mat-menu-item routerLink="/user/user-posts">Your Posts</button>
                <button mat-menu-item routerLink="/user/edit">Edit Profile</button>
                <button mat-menu-item routerLink="/user/logout">Logout</button>
            </ng-container>
            <ng-container *ngIf="!user">
                <button mat-menu-item routerLink="/user/login">Login</button>
                <button mat-menu-item routerLink="/user/register">Register</button>
            </ng-container>
        </mat-menu>


    </mat-toolbar>
</div>