<div class="navbar-wrapper">
    <mat-toolbar color="primary">

        <a href="">
<div class="logo">

        <img src="/assets/cat.png" alt="Logo" class="logo">
    </div>
</a>


        <div class="center-buttons">
            <button class="nav-button" mat-button routerLink="/">Home</button>
            <button class="nav-button" mat-button routerLink="/login">Login</button>
            <button class="nav-button" mat-button routerLink="/register">Register</button>
            <button class="nav-button" mat-button routerLink="/add">Add Kitten</button>
            <button class="nav-button" mat-button routerLink="/catalog">Cats List</button>
            <button class="nav-button" mat-button routerLink="/search">Search</button>
            <button class="nav-button" mat-button routerLink="/about">About Us</button>
        </div>


        <button mat-mini-fab color="primary" [matMenuTriggerFor]="profileMenu" class="profile-fab">
            <mat-icon color="primary">person</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>


    </mat-toolbar>
</div>