<div class="cards-container">

    <div class="card">
        <a routerLink="/details">
            <div class="a-container">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>NAzAR PAVLOv</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="card">
        <a routerLink="/details">
            <div class="a-container">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>NAzAR PAVLOv</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="card">
        <a routerLink="/details">
            <div class="a-container">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>NAzAR PAVLOv</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="card">
        <a routerLink="/details">
            <div class="a-container">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>NAzAR PAVLOv</h2>
                </div>
            </div>
        </a>
    </div>





</div>