.cards-container {
  width: 39.9%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 300px;
  border: 4px solid #3f51b5;
  border-radius: 7px;
  padding: 20px;
  background-color: white;
  margin: 20px;  
}

.card-image {
  height: 200px;
  width: 250px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.card-content {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 20px;
  background-color: #bcefff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

button {
  width: 118%;
  margin-left: -9.1%;
  margin-top: -2%;
  background-color: #bcefff !important;
  color: black !important;

}

/* ?????? */
.a-container{
  padding: 24px;
  margin: -24px;
}

a{
  color: inherit;
text-decoration: none; 
}


.empty{ 
  margin-top: 42%;
}

.h1 {
  font-size: 40px;
  font-weight: bolder;
}