<div class="cards-container">

    <div class="div">
        <a routerLink="/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download.jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="div">
        <a routerLink="/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="div">
        <a routerLink="/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download.jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="div">
        <a routerLink="/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="div">
        <a routerLink="/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>


    <div class="div">
        <a routerLink="/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download.jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>






</div>