<div class="cards-container">

    <!-- <div class="div">
        <a routerLink="/cats/catalog/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download.jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="div">
        <a routerLink="/cats/catalog/details">
            <div class="card">
                <img class='card-image' src="../../../assets/download (1).jpg" alt="Placeholder image">
                <div class="card-content">
                    <h2>Name</h2>
                    <h4>age</h4>
                    <p>breed</p>
                    <p class="description-container">
                        DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                    </p>
                </div>
            </div>
        </a>
    </div>
    -->

    <div class="div" *ngFor="let cat of posts">
        <a routerLink="/cats/catalog/{{cat._id}}">
            <div class="card" appBorderShadow>
                <img class='card-image' src="{{cat.image}}" alt="Placeholder image">
                <div class="card-content">
                    <h2 class="bold">{{cat.themeName | sliceText : 22}}</h2>
                    <h4 class="bold">Age: {{cat.age}}</h4>
                    <p class="bold">Breed: {{cat.breed}}</p>
                    <p class="description-container">
                        {{cat.description | sliceText : 219}}
                    </p>
                </div>
            </div>
        </a>
    </div>





</div>