<div class="cards-container">

    <div class="div">
        <div class="card" appBorderShadow>
            <img class='card-image' src="{{cat?.image}}" alt="Placeholder image">
            <div class="card-content">

                <h2 class="bold">{{cat?.themeName}}</h2>
                <h4 class="bold">Age: {{cat?.age}}</h4>
                <p class="bold">Breed: {{cat?.breed}}</p>
                <p class="description-container">
                    {{cat?.description}}
                </p>

                <button *ngIf="!isUser || IfAlreadyLiked" disabled="true" class="btn pink" mat-fab color="primary"
                    aria-label="Example icon button with a heart icon">
                    {{cat?.subscribers?.length}}
                    <mat-icon>favorite</mat-icon>
                </button>

                <button *ngIf="isUser && !IfAlreadyLiked" (click)="likeHandler()" class="btn pink" mat-fab
                    color="primary" aria-label="Example icon button with a heart icon">
                    {{cat?.subscribers?.length}}
                    <mat-icon>favorite</mat-icon>
                </button>

                <ng-container *ngIf="isOwner">
                    <button routerLink="/cats/catalog/{{cat?._id}}/edit" class="btn" color="primary" mat-fab>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="deleteHandler()" class="btn" color="primary" mat-fab>
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>


    <ng-container *ngIf="cat?.posts">
        <div class="comments">
            <div class="comment-container" *ngFor="let comment of cat?.posts">
                <div class="username">{{comment.userId.username | sliceText : 12}}</div>
                <div class="date">{{comment.created_at | timeFormat}}</div>
                <img class="image" src="../../../assets/profile.png" alt="alt">
                <div class="comment">{{comment?.text}}</div>
            </div>
        </div>
    </ng-container>



    <div class="container">
        <form #form="ngForm" (ngSubmit)="commentHandler(form)">
            <mat-form-field>
                <mat-label>Tell Us What You Think!</mat-label>
                <textarea matInput placeholder=" Write your Comment" name="textInput" ngModel #textInput="ngModel"
                    required maxLength="300"></textarea>
                <mat-error *ngIf="textInput.errors?.['required'] && isUser"> Comment required</mat-error>
            </mat-form-field>
            <button *ngIf="isUser" class="submit-button" mat-raised-button color="primary"
                type="submit">Comment</button>
            <button *ngIf="!isUser" (click)="eventPrevent($event)" class="submit-button .disabled-btn" mat-raised-button
                color="primary" type="submit">You need to be logged in to comment</button>
        </form>
    </div>