<div class="cards-container">


    <div class="div">
        <div class="card">
            <img class='card-image' src="../../../assets/download.jpg" alt="Placeholder image">
            <div class="card-content">
                <h2 class="bold">Name</h2>
                <h4 class="bold">age</h4>
                <p class="bold">breed</p>
                <p class="description-container">
                    DetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDetailsDeails
                </p>
                <button class="btn pink" mat-fab color="primary" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button class="btn" color="primary" mat-fab aria-label="Example icon button with a heart icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="btn" color="primary" mat-fab aria-label="Example icon button with a heart icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <div class="comments">
        <div class="comment-container">
            <div class="username">USERNAME</div>
            <div class="date">20.20.20.20</div>

                <img class="image" src="../../../assets/profile.png" alt="alt">
                <div class="comment">COMEENTCOMEEMEENTCOMEENTCOMEENTCOMEENTCOMEENTCOMEENTCOMEENTCOMEEMEENTCOMEENTCOMEENTCOMEENTCOMEENTCOMEENT</div>
            
        </div>
     </div>



    <div class="container">
        <form>
            <mat-form-field>
                <mat-label>Tell Us What You Think!</mat-label>
                <textarea matInput placeholder="Write your Comment"></textarea>
            </mat-form-field>
            <button class="submit-button" mat-raised-button color="primary" type="submit">Comment</button>
        </form>
    </div>


